doctype html
html
head
	title= title
	link(rel="stylesheet", href="/stylesheets/style.css")
body
	block content
	script(src="/javascripts/react.js")
	script(src="/javascripts/navigation.js")
	script(src="/javascripts/content.js")
	script(src="/javascripts/telegram_control_panel.js")
	script(src="/javascripts/index.js")
